.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav{
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;

}
a{
  text-decoration: none;
  color: rgb(148, 20, 20);
}